<% if @wishlist.count == 0 %>

  <h1>Pour l'instant, vous n'avez ajouté aucun festival à vos favoris </h1>
<% else %>
  <% @wishlist.each do |wishlist| %>
  <% nomdetavariable = wishlist.fest %>

  <% end %>