<div class= "page-container">
  <% if @wishlist.count == 0 %>
    <h1>Pour l'instant, vous n'avez ajouté aucun festival à vos favoris </h1>
  <% else %>
    <h1 class="text-center">Mes favoris</h1>
    <% @wishlist.each do |wishlist| %>
      <% fest = wishlist.fest %>
      <div id= <%= wishlist.id %>>
      <%= render 'fest_cart', wishlist: wishlist, fest: fest %>
      </div>
    <% end %>
  <% end %>
</div>