
<div class="jumbotron">
    <div class="container">
      <div class="h1 text-uppercase">
        <span class="d-inline-block mr-2" data-parallax='{"y" : -20}'>M</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 20}'>e</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -20}'>s</span>
        <span> </span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 25}'>f</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -25}'>a</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 30}'>v</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -30}'>o</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 35}'>r</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : -35}'>i</span>
        <span class="d-inline-block mr-2" data-parallax='{"y" : 40}'> s</span>
      </div>
    </div>
  </div>
<div class= "page-container">
  
    <div class= "container">
      <div class= "row">
        <div class= "col-sm-0 col-md-6">
          <%= javascript_include_tag('map.js') %>
        </div>
        <% if @wishlist.count != 0 %>
        <div class="col-sm-3 col-md-6" id="favlist">
           <h3 class= "text-center"> Ma liste de favoris</h3>
          <% @wishlist.each do |wishlist| %>
            <% fest = wishlist.fest %>
            <div id= <%= wishlist.id %>>
            <%= render 'fest_cart', wishlist: wishlist, fest: fest %>
            </div>
            <%end%>
        </div>
        <% else %>
          <div class="col-sm-3 col-md-6" id= favlist>
             <h3 class= "text-center"> Ma liste de favoris</h3>
            <em> Vous n'avez pas encore ajouté de festival à votre liste. <i class="far fa-sad-tear"></i></em>  
          </div>
        <%end%>
        </div>
    </div>
</div>

<script src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['API_KEY_GOOGLE_MAPS']}&callback=initMap"%> type="text/javascript"></script>


