<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><span id="menu-toggle">Menu<span id="main_icon" </span></span></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar"> 
          <li><%= link_to 'Tableau de bord', admin_index_path %></li>    
          <li><%= link_to 'Utilisateurs', admin_users_path %></li>
          <li><%= link_to 'Festivals', admin_festivals_path %></li>
        </ul>
      </div>
          
