   <%= render 'admin/sidebar' %>

        <div class="page-container">
                <!-- Backoffice for Admin-->
                <section class="container py-5 mb-4">
                        <h1 class="h4 block-title text-center pt-3">Back Office Admin de mon site FestRoad</h1>

                        <!-- Total users-->
                        <p class="container py-5 mb-4">
                                <strong>Nombre total d'utilisateurs: <%= @users.count %></strong>
                        </p>

                        <!-- Total fests-->
                        <p class="container py-5 mb-4">
                                <strong>Nombre total de festivals: <%= @fests.count %></strong>
                        </p>
                </section>
        </div>

