<div class= "banner-sektion banner-overlay ">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="banner-heading "> 
            <h2 class="pt-md-5 pb-md-4 pt-3 pb-3 pt-md-0 pb-md-5">Trouve le festival qui te correspond le mieux </h2>
        <div class="input-group">
          <input class="form-control" type="email" name="EMAIL" placeholder="Nom d'un festival">
            <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="footer-icon fas fa-search"></i> Rechercher</button>
            </div>
        </div>
        <a class="scroll-to btn btn-style-4 btn-primary btn-lg mt-5" href="#services">En savoir plus <i class="fas fa-arrow-down"></i></a>
      </div>
          </div>
          </div>
        </div>
      </div>