<section class="container pb-4" id="services">
      <h2 class="h3 block-title text-center pt-2"> Comment ça marche Festroad ? </h2>
      <div class="row py-2">
        <div class="col-lg-4 col-sm-6">
          <!-- Step-->
          <div class="step step-with-icon">
            <div class="step-icon"><i class="icons-step fas fa-search fa-2x"></i></div>
            <h3 class="step-title">Trouve ton fest</h3>
            <p class="step-text text-sm">Recherche un festival en fonction de son nom, sa localisation ou son genre musical.</p>
            <%= link_to "Page festival", festivals_path , class: "step-link fe-icon-arrow-right" %>

          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Step-->
          <div class="step step-with-icon">
            <div class="step-icon"><i class="icons-step fas fa-heart fa-2x"></i></div>
            <h3 class="step-title">Ajoute le à tes Favoris</h3>
            <p class="step-text text-sm">Clique sur le coeur pour ajouter plusieurs festivals à ta liste de favoris.</p>
            <%= link_to "Mes Favoris", wish_lists_path , class: "step-link fe-icon-arrow-right" %>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Step-->
          <div class="step step-with-icon">
            <div class="step-icon"><i class="icons-step fas fa-map-marker-alt fa-2x"></i></div>
            <h3 class="step-title">Organise ton périple</h3>
            <p class="step-text text-sm">Regarde la carte afin de préparer ton itinéraire pour aller d'un festival à un autre.</p>

            <a class="step-link"> Bientôt Disponible </a>
          </div>
        </div>
      </div>
    </section>