<section class="bg-center bg-no-repeat py-5" style="background-image: url(assets/img_test.JPG);">
  <div class="row no-gutters pt-lg-5 mt-lg-5">
    <div class="col-xl-7 col-lg-8"><img class="d-block" src="" alt="Hero Image"></div>
    <div class="col-lg-4 pt-xl-5">
      <div class="px-3 px-lg-0 text-center text-lg-left">
        <h1 class="pt-md-5 pb-md-4 pt-3 pb-3 pt-md-0 pb-md-5">We do all the hard work for you</h1>
        <a class="scroll-to btn btn-style-4 btn-gradient btn-icon-right btn-lg" href="#services">En savoir plus<i class="fe-icon-arrow-down"></i></a>
        <a class="scroll-to btn btn-style-4 btn-gradient btn-icon-right btn-lg" href="#services">Trouve ton festival<i class="fe-icon-arrow-down"></i></a>
      </div>
    </div>
    
  </div>
</section>

<%= render'layouts/partners' %>

<%= render'layouts/team' %>

<div class="container">
        <h6 class="text-center">Subscribe to Newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
              <div class="input-group">
                <input class="form-control" type="email" name="EMAIL" placeholder="Email address">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
              </div><small class="form-text text-muted pt-1 text-center">Enter email to receive a newsletter about new templates and updates.</small>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
            </form>
          </div>
        </div>
        <!-- Follow Me-->
        <h6 class="text-center">Follow Us</h6>
        <div class="text-center pt-2 pb-4 mb-2"><a class="social-btn sb-style-6 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-dribbble" href="#"><i class="socicon-dribbble"></i></a><a class="social-btn sb-style-6 sb-instagram" href="#"><i class="socicon-instagram"></i></a><a class="social-btn sb-style-6 sb-youtube" href="#"><i class="socicon-youtube"></i></a></div>
        <hr>
        <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
          <div class="order-2"><a class="footer-link" href="#">About</a><a class="footer-link ml-3" href="#">Help &amp; Info</a><a class="footer-link ml-3" href="#">Privacy Policy</a></div>
          <p class="m-0 text-sm order-1"><span class="opacity-60">© All rights reserved. Made with</span> <i class="d-inline-block align-middle fe-icon-heart text-danger"></i> <a href="http://createx.studio/" class="d-inline-block navi-link p-0" target="_blank">by Createx Studio</a></p>
        </div>
      </div>
