

<%= render 'banner2' %>

<%= render 'how' %>

<section class="bg-center-top bg-no-repeat py-5" data-offset-top="50" id="info">
      <div class="container pt-5">
        <div class="row align-items-center">
          <div class="col-md-7 order-2 order-md-1 pt-3 pt-md-0"><img class="d-block mx-auto mx-md-0" src="img/homepages/web-app-showcase/info01.png" alt="Info Block #1"></div>
          <div class="col-md-5 order-1 order-md-2 text-center text-md-left">
            <h2 class="h4">FestRoad : une réference en matière de festivals musicaux</h2>
            <p class="text-muted pt-3 pb-3 pb-md-4">FestRoad réferencie des centaines de festivals proches de chez vous pour vous proposer un plus grand choix.</p><a class="btn btn-style-4 btn-primary" href="#">Learn More</a>
          </div>
        </div>
      </div>
</section>

<section class="bg-center-top bg-no-repeat py-5" style="margin-top: -110px; ">
      <div class="container pt-5 pb-3 pb-md-4">
        <div class="row align-items-center">
          <div class="col-md-5 text-center text-md-left">
            <h2 class="h4">Festroad : un site pensé pour les festivaliers par des festivaliers</h2>
            <p class="text-muted pt-3 pb-3 pb-md-4">L'été approche à grand pas, et la période des festivals aussi. Festroad est un site referenceur de festival qui permet à tous de trouver le festival qui lui correspond. En plus de cela, il vous est possible de ...</p><a class="btn btn-style-4 btn-primary" href="#">Learn More</a>
          </div>
          <div class="col-md-7 pt-3 pt-md-0"><img class="d-block mx-auto ml-md-auto mr-md-0" src="img/homepages/web-app-showcase/info02.png" alt="Info Block #2"></div>
        </div>
      </div>
    </section>

<%= render 'carousel' %>
