<div class="kit-container">
  <h4>Colors</h4>

  <table class="color-table">
      <thead>
          <tr>
              <th><i class="hex-color-one fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-two fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-three fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-four fas fa-circle fa-5x "></i></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>#FFCF0F</td>
              <td>#E54F26</td>
              <td>#4A1836</td>
              <td>#404040</td>

          </tr>
      </tbody>
  </table>

  <h4>Grey tons</h4>

  <table class="color-table">
      <thead>
          <tr>
              <th><i class="hex-color-five fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-six fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-seven fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-eight fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-nine fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-ten fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-eleven fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-twelve fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-thirteen fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-fourteen fas fa-circle fa-5x "></i></th>
              <th><i class="hex-color-fifteen fas fa-circle fa-5x "></i></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>#FFF</td>
              <td>#f8f9fa</td>
              <td>#e9ecef</td>
              <td>#dee2e6</td>
              <td>#ced4da</td>
              <td>#adb5bd</td>
              <td>#6c757d</td>
              <td>#495057</td>
              <td>#343a40</td>
              <td>#212529</td>
              <td>#000</td>
          </tr>
      </tbody>
  </table>

  <h4>Buttons</h4>

  <div class="input-group">
    <input class="form-control" type="email" name="EMAIL" placeholder="Nom d'un festival">
      <div class="input-group-append">
      <button class="btn btn-primary" type="submit"><i class="footer-icon fas fa-search"></i> Rechercher</button>
      </div>
  </div>
  <br>
  <button class="btn btn-style-4 btn-primary" type="submit">Primary</button>

  <button class="btn btn-style-4 btn-success" type="submit">Success</button>

  <button class="btn btn-style-4 btn-danger" type="submit">Danger</button>

  <br>

  <span class="scroll-to btn btn-style-4 btn-gradient btn-icon-right btn-lg mt-5">Home Action<i class="fe-icon-arrow-down"></i></span>

  <br>
  <br>
  <br>
  <h4>Icons</h4>

  <table class="icon-table">
      <thead>
          <tr>
              <th>Location on map</th>
              <th>Profile card</th>
              <th>User details</th>
              <th>Wishlist</th>
              <th>Searching tool</th>
              <th>Mail</th>
              <th>Legal subject</th>
              <th>Sign in</th>
              <th>Sign up</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><i class="fas fa-map-marker-alt fa-5x"></i></td>
              <td><i class="fas fa-user fa-5x"></i></td>
              <td><i class="fas fa-user-circle fa-5x"></i></td>
              <td><i class="far fa-heart fa-5x"></i></td>
              <td><i class="fas fa-search fa-5x"></i></td>
              <td><i class="fas fa-envelope fa-5x"></i></td>
              <td><i class="fas fa-balance-scale fa-5x"></i></td>
              <td><i class="fas fa-sign-in-alt fa-5x"></i></td>
              <td><i class="fas fa-user-plus fa-5x"></i></td>
          </tr>
      </tbody>
  </table>
  <br>
  <br>

  <h4>Typographies</h4>

  <div class="col-md-6 pb-5">
              <div class="d-flex flex-wrap justify-content-between">
                <h4 class="mr-3">Font-family: "Montserrat", sans-serif</h4>
              </div>
              <hr class="pb-4">
              <h1 class="mb-1">H1. Heading</h1><span class="d-block text-lg text-muted pb-4">Size: 48px, Weight: 900, Line height: 58px</span>
              <hr class="pb-4">
              <h2>H2. Heading</h2><span class="d-block text-lg text-muted pb-4">Size: 40px, Weight: 900, Line height: 48px</span>
              <hr class="pb-4">
              <h3>H3. Heading</h3><span class="d-block text-lg text-muted pb-4">Size: 34px, Weight: 900, Line height: 43px</span>
              <hr class="pb-4">
              <h4>H4. Heading</h4><span class="d-block text-lg text-muted pb-4">Size: 26px, Weight: 900, Line height: 34px</span>
              <hr class="pb-4">
              <h5>H5. Heading</h5><span class="d-block text-lg text-muted pb-4">Size: 21px, Weight: 900, Line height: 28px</span>
              <hr class="pb-4">
              <h6>H6. Heading</h6><span class="d-block text-lg text-muted pb-4">Size: 18px, Weight: 900, Line height: 25px</span>
              <hr>
            </div>


  <h4>Registration form</h4>
  <div class="container-form">
    <div class="bg-dark py-5">
            <div class="container py-2">
              <div class="d-flex flex-wrap justify-content-between">
                <h4 class="text-white mr-3">S'inscrire</h4></div>
              <hr class="hr-light pb-4 mb-1">

              <div class="row pb-2">
                <div class="col-lg-10">
                  <div class="form-group row align-items-center">
                    <label class="col-2 col-form-label text-white opacity-60" for="text-input-light">Prénom</label>
                    <div class="col-10">
                      <input class="form-control form-control-light-skin" type="text" id="text-input-light" value="Prénom">
                    </div>
                  </div>

              <div class="form-group row">
                    <label class="col-2 col-form-label text-white opacity-60" for="text-input-light">Nom</label>
                    <div class="col-10">
                      <input class="form-control form-control-light-skin" type="text" id="text-input-light" value="Nom">
                    </div>
                  </div>
              
              <div class="form-group row">
                  <label class="col-2 col-form-label text-white opacity-60" for="email-input">Email</label>
                  <div class="col-10">
                    <input class="form-control form-control-light-skin" type="email" id="text-input-light" value="email@example.com">
                  </div>
                </div>

                  <div class="form-group row">
                    <label class="col-2 col-form-label text-white opacity-60" for="textarea-input-light">Description</label>
                    <div class="col-10">
                      <textarea class="form-control form-control-light-skin" id="textarea-input-light" rows="5">Description!</textarea>
                    </div>
                  </div>

                  <div class="form-group row align-items-center">
                    <label class="col-2 col-form-label text-white opacity-60" for="select-input-light">Select</label>
                    <div class="col-10">
                      <select class="form-control form-control-light-skin" id="select-input-light">
                        <option>Choose option...</option>
                        <option>Option item 1</option>
                        <option>Option item 2</option>
                        <option>Option item 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row align-items-center">
                    <label class="col-2 col-form-label text-white opacity-60">Checkbox</label>
                    <div class="col-10">
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" id="check-light">
                        <label class="custom-control-label text-white" for="check-light">Check this checkbox</label>
                      </div>
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input class="custom-control-input" type="checkbox" id="check-light-2" checked="">
                        <label class="custom-control-label text-white" for="check-light-2">Uncheck this checkbox</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row align-items-center">
                    <label class="col-2 col-form-label text-white opacity-60">Radio button</label>
                    <div class="col-10">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" id="radio-light" name="radio-light" checked="">
                        <label class="custom-control-label text-white" for="radio-light">Uncheck this radio</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" id="radio-light-2" name="radio-light">
                        <label class="custom-control-label text-white" for="radio-light-2">Check this radio</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn centered-form-btn btn-style-4 btn-primary" type="submit">Valider</button>
            </div>
          </div>
        </div>

  <h4>Profile Card</h4>
  <div class="col-lg-4 pb-5">
    <!-- Account Sidebar-->
    <div class="author-card pb-3">
      <div class="author-card-cover"><%= image_tag "bracelet_festivals.jpg"%></div>
        <div class="author-card-profile">
          <i class="fas fa-user-circle fa-7x"></i>
            <div class="author-card-details">
              <h5 class="author-card-name text-lg">Prénom Nom</h5><span class="author-card-position">Depuis le "Date d'inscription"</span>
            </div>
        </div>
      </div>
      <div class="wizard">
        <nav class="list-group list-group-flush">
          <%= link_to(profile_path(current_user.id) ,class: "list-group-item") do %>
            <i class="fas fa-user text-muted"></i>Informations Profil
          <% end %>
          <div class="d-flex justify-content-between align-items-center">
          </div>
          <%= link_to(profile_path(current_user.id), class: "list-group-item", rel: "nofollow") do %>
            <i class="fas fa-shopping-bag text-muted"></i>Ma Wishlist
          <% end %>                
        </nav>
      </div>
    </div>
      <h4>Footer</h4>
  </div>
</div>

