function initMap() {

      
// Generate Map and Related CSS
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 46.2276382, lng: 2.2137489},
  zoom: 6,
  disableDefaultUI: true,
  styles: [
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "stylers": [
            {
                "hue": 149
            },
            {
                "saturation": -78
            },
            {
                "lightness": 0
            }
        ]
    },
    {
        "featureType": "road.highway",
        "stylers": [
            {
                "hue": -31
            },
            {
                "saturation": -40
            },
            {
                "lightness": 2.8
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "label",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "stylers": [
            {
                "hue": 163
            },
            {
                "saturation": -26
            },
            {
                "lightness": -1.1
            }
        ]
    },
    {
        "featureType": "transit",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "hue": 3
            },
            {
                "saturation": -24.24
            },
            {
                "lightness": -38.57
            }
        ]
    }
  ]
});
      

// For the time being : none
let infowindow = new google.maps.InfoWindow({
content: ""
});

for(let i = 0; i < gon.fest.length; i++){

// every marker that match the search request
let marker = new google.maps.Marker({
position: new google.maps.LatLng(gon.fest[i].latitude,gon.fest[i].longitude),
map: map
});


//content marker popup window
	let fest = 
  '<div>' + gon.fest[i].title + " " + '<a href="' + gon.fest[i].website + '">' + '<i class="far fa-star" style:"color:#f4d942;"></i>' + '</a>' + '</div>' + 
  '<div>' + gon.fest[i].start_date + ' - ' + gon.fest[i].start_date + '</div>' + 
  '<div>' + gon.fest[i].address + '</div>' +  
  '<a href="' + gon.fest[i].website + '">' + gon.fest[i].website + '</a>' + '</div>';

  

// Open InfoWindow on click
  google.maps.event.addListener(marker, 'click', function() {
  maxWidth: 350
  infowindow.setContent(fest);
  infowindow.open(map, marker);
  });
 }
}