function initMap() {

      
// Generate Map and Related CSS
  let map = new google.maps.Map(document.getElementById('map_2'), {
  center: {lat: 46.2276382, lng: 2.2137489},
  zoom: 6,
  disableDefaultUI: true,
  styles: [
    {
        "featureType": "landscape.man_made",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#e9e5dc"
            }
        ]
    },
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#b8cb93"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ccdca1"
            }
        ]
    },
    {
        "featureType": "poi.sports_complex",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "hue": "#ff0000"
            },
            {
                "saturation": -100
            },
            {
                "lightness": 99
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#808080"
            },
            {
                "lightness": 54
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#767676"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "saturation": 43
            },
            {
                "lightness": -11
            },
            {
                "color": "#89cada"
            }
        ]
    }
]
});
      

// For the time being : none
let infowindow = new google.maps.InfoWindow({
content: ""
});

for(let i = 0; i < gon.fest.length; i++){

// every marker that match the search request
let marker = new google.maps.Marker({
position: new google.maps.LatLng(gon.fest[i].latitude,gon.fest[i].longitude),
map: map
});


//content marker popup window
	let fest = 
  '<div><strong>' + gon.fest[i].title + '</strong></div>' +  '<div>' + gon.fest[i].address + '</div>';
   

// show InfoWindow on mouseover event
  google.maps.event.addListener(marker, 'mouseover', function() {
  maxWidth: 350
  infowindow.setContent(fest);
  infowindow.open(map, marker);
  });
  
// open modal on click event
  google.maps.event.addListener(marker, 'click', function() {
    event.preventDefault();
    jQuery.noConflict();
    $('#modalLarge'+i).modal('show');
  });
 }
}