
<% if cookies[:saved_subscriber] %>
<p> Merci pour votre inscription à la Newsletter de Festroad <p>
<%else%>
  <%= form_for Subscriber.new do |f| %>
  <div class="input-group">
    <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Votre adresse mail">

      <div class="input-group-append">
         <%= f.submit "S'inscrire" , class: "btn btn-primary" %>
      </div>
  </div>
  <small class="form-text text-white opacity-50 pt-1">Inscrivez-vous à notre Newsletter pour recevoir les news sur les festivals du mois.</small>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <% end %>
<%end%>