
<div style="padding-top:220px;">
</div>
<h1>La carte des festivals : </h1>


  <div id="mapid"></div>


<script type="text/javascript">

var mymap = L.map('mapid').setView([51.505, -0.09], 13);

L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
    attribution: 'Made with &hearts; THP Strasbourg, <a href="//osm.org/copyright">OpenStreetMap</a>',
                    minZoom: 1,
                    maxZoom: 20
}).addTo(mymap);

</script>