
<div style="padding-top:220px;">
</div>
<h1>La carte des festivals : </h1>


  <div id="map"></div>

<%= javascript_include_tag('map.js') %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY_GOOGLE_MAPS']%>&callback=initMap"
    async defer></script>