<div class="container">
        <h6 class="contact-form text-center">M'inscrire à la newsletter</h6>
        <div class="row justify-content-center pb-4 mb-3">
          <div class="col-xl-6 col-lg-7 col-md-9">
            <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
              <div class="input-group">
                <input class="form-control" type="email" name="EMAIL" placeholder="Adresse Email">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">M'inscrire</button>
                </div>
              </div><small class="form-text text-muted pt-1 text-center">Inscrivez-vous à notre Newsletter afin de recevoir les news sur les festivals du mois.</small>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
            </form>
          </div>
        </div>
       
      </div>