

<h4>Card Pop-up Festival</h4>

<div class="offcanvas-wrapper">
  <div class="container pb-4 mb-2">
    <div class="row pb-4">
      <div class="col-lg-4 col-sm-6 mb-30 pb-4">
        <div class="card">
        <%= image_tag  "card_photo.jpg" %>
          <div class="card-body">
            <h4 class="card-title">Nom du Festival</h4>
            <p class="card-text"></p>
            <ul>
              <li>dates: ……………</li>
              <li>Prix : ……………€</li>
              <li></li>
            </ul>
            <a class="btn btn-sm btn-gradient mt-2" href="#">En savoir plus</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>