

<h4>Card Pop-up Festival</h4>

<div class="offcanvas-wrapper">
  <div class="container pb-4 mb-2">
    <div class="row pb-4">
      <div class="col-lg-4 col-sm-6 mb-30 pb-4">
        <div class="card">
        <%= image_tag  "https://unsplash.com/photos/NYrVisodQ2M" %>
          <div class="card-body">
            <h4 class="card-title">Card title here</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><a class="btn btn-sm btn-gradient mt-2" href="#">Go Somewhere</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>