<section class="bg-secondary bg-cover bg-no-repeat pt-5 pb-4" style="background-image: url(assets/crowd_concert.png);" data-offset-top="-10" id="contacts">
      <div class="container py-2">
        <h2 class="h3 contact-form block-title text-center">Contactez-nous<small>Nous ferons de notre mieux pour vous répondre dans les 48h.</small></h2>
        <form class="needs-validation pt-4 pb-5" novalidate="">
          <div class="row">
            <div class="col-md-4 col-sm-6 form-group">
              <label for="cont-name">Votre nom et prénom <span class="text-danger font-weight-medium">*</span></label>
              <input class="form-control" type="text" id="cont-name" placeholder="John Doe" required="">
              <div class="invalid-feedback">Merci de renseigner votre nom et prénom!</div>
            </div>
            <div class="col-md-4 col-sm-6 form-group">
              <label for="cont-email">Votre adresse Mail <span class="text-danger font-weight-medium">*</span></label>
              <input class="form-control" type="email" id="cont-email" placeholder="johndoe@example.com" required="">
              <div class="invalid-feedback">Merci de renseigner votre adresse mail!</div>
            </div>
            <div class="col-md-4 form-group">
              <label for="cont-subject">Objet</label>
              <input class="form-control" type="email" id="cont-subject" placeholder="Objet de votre message">
            </div>
          </div>
          <div class="form-group">
            <label for="cont-message">Message <span class="text-danger font-weight-medium">*</span></label>
            <textarea class="form-control" id="cont-message" rows="8" placeholder="Écrivez votre message..." required=""></textarea>
            <div class="invalid-feedback">Merci d'écrire votre message ici!</div>
          </div>
          <div class="text-center">
            <button class="btn btn-style-4 btn-icon-left btn-gradient" type="submit"><i class="fe-icon-mail text-md"></i>Envoyer mon message</button>
          </div>
        </form>
      </div>
    </section>