<% if flash[:success]%>
    <div class="alert alert-success" role="alert">
      <%= flash[:success]%>
    </div>
  <% end %>
  <% if flash[:danger]%>
    <div class="alert alert-danger" role="alert">
    </div>
  <% end %>