 <footer >
      <!-- Second Row-->
      <div class="pt-5" style="background-color: #30363d;">
        <div class="container">
          <div class="row">
            <!-- FestRoad-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">FestRoad</h4>
                <ul>
                  <li><i class="fas fa-search"></i><span>Trouver mon fest</span><a href="#"></a></li>
                  <li><i class="far fa-envelope-open"></i><span>Nous contacter</span><a href="mailto:info@example.com">info@festroad.com</a></li>
                  <li><i class="fas fa-balance-scale"></i><span>Mentions légales</span></li>
                </ul>
              </div>
            </div>
            <!-- Espace perso-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">Espace Perso</h4>
                <ul>
                  <li><i class="fas fa-user-plus"></i><span>M'inscrire</span><a href="#"></a></li>
                  <li><i class="fas fa-sign-in-alt"></i><span>Me connecter</span></li>
                </ul>
              </div>
              <div class="widget pt-2"><a class="#" href="#"></a></div>
            </div>
            <!-- Subscription-->
            <div class="col-lg-6">
              <div class="widget widget-light-skin">
                <h4 class="widget-title">Newsletter</h4>
                <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
                  <div class="input-group">
                    <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Votre adresse mail">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">M'inscrire</button>
                    </div>
                  </div><small class="form-text text-white opacity-50 pt-1">Inscrivez-vous à notre Newsletter pour recevoir les news sur les festivals du mois.</small>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                  <div class="widget pt-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-pinterest"></i></a></div>
                </form>
              </div>
            </div>
          </div>
          <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <p class="m-0 text-sm text-white order-1"><span class="opacity-60">© Fait avec amour par</span> <i class="d-inline-block align-middle fe-icon-heart text-danger"></i> <a href="http://createx.studio/" class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank">2019 THP #TeamStrasbourg</a></p>
          </div>
        </div>
      </div>
    </footer>