<h4>Colors</h4>

<table class="color-table">
    <thead>
        <tr>
            <th><i class="hex-color-one fas fa-circle fa-5x "></i></th>
            <th><i class="hex-color-two fas fa-circle fa-5x "></i></th>
            <th><i class="hex-color-three fas fa-circle fa-5x "></i></th>
            <th><i class="hex-color-four fas fa-circle fa-5x "></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#FFCF0F</td>
            <td>#E54F26</td>
            <td>#4A1836</td>
            <td>#404040</td>

        </tr>
    </tbody>
</table>

<h4>Footer</h4>
<footer >
      <!-- Second Row-->
      <div class="pt-5">
        <div class="container">
          <div class="row">
            <!-- FestRoad-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">FestRoad</h4>
                <ul>
                  <li><i class="footer-icon fas fa-search"></i><span>Trouver mon fest</span><a href="#"></a></li>
                  <li><i class="footer-icon fas fa-envelope"></i><span>Nous contacter</span><a href="mailto:info@example.com">info@festroad.com</a></li>
                  <li><i class="footer-icon fas fa-balance-scale"></i><span>Mentions légales</span></li>
                </ul>
              </div>
            </div>
            <!-- Espace perso-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">Espace Perso</h4>
                <ul>
                  <li><i class="footer-icon fas fa-user-plus"></i><span>M'inscrire</span><a href="#"></a></li>
                  <li><i class="footer-icon fas fa-sign-in-alt"></i><span>Me connecter</span></li>
                </ul>
              </div>
              <div class="widget pt-2"><a class="#" href="#"></a></div>
            </div>
            <!-- Subscription-->
            <div class="col-lg-6">
              <div class="widget widget-light-skin">
                <h4 class="widget-title">Newsletter</h4>
                <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate="">
                  <div class="input-group">
                    <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Votre adresse mail">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">M'inscrire</button>
                    </div>
                  </div><small class="form-text text-white opacity-50 pt-1">Inscrivez-vous à notre Newsletter pour recevoir les news sur les festivals du mois.</small>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                  <div class="widget pt-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-pinterest"></i></a></div>
                </form>
              </div>
            </div>
          </div>
          <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <p class="m-0 text-sm text-white order-1"><span class="opacity-60">© Fait avec amour par</span> <i class="d-inline-block align-middle fe-icon-heart text-danger"></i> <a href="http://createx.studio/" class="d-inline-block nav-link text-white opacity-60 p-0" target="_blank">2019 THP #TeamStrasbourg</a></p>
          </div>
        </div>
      </div>
    </footer>

<h4>Registration form</h4>
<div class="container-form">
  <div class="bg-dark py-5">
          <div class="container py-2">
            <div class="d-flex flex-wrap justify-content-between">
              <h4 class="text-white mr-3">S'inscrire</h4></div>
            <hr class="hr-light pb-4 mb-1">

            <div class="row pb-2">
              <div class="col-lg-10">
                <div class="form-group row align-items-center">
                  <label class="col-2 col-form-label text-white opacity-60" for="text-input-light">Prénom</label>
                  <div class="col-10">
                    <input class="form-control form-control-light-skin" type="text" id="text-input-light" value="Prénom">
                  </div>
                </div>

            <div class="form-group row">
                  <label class="col-2 col-form-label text-white opacity-60" for="text-input-light">Nom</label>
                  <div class="col-10">
                    <input class="form-control form-control-light-skin" type="text" id="text-input-light" value="Nom">
                  </div>
                </div>
            
            <div class="form-group row">
                <label class="col-2 col-form-label text-white opacity-60" for="email-input">Email</label>
                <div class="col-10">
                  <input class="form-control form-control-light-skin" type="email" id="text-input-light" value="email@example.com">
                </div>
              </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label text-white opacity-60" for="textarea-input-light">Description</label>
                  <div class="col-10">
                    <textarea class="form-control form-control-light-skin" id="textarea-input-light" rows="5">Description!</textarea>
                  </div>
                </div>

                <div class="form-group row align-items-center">
                  <label class="col-2 col-form-label text-white opacity-60" for="select-input-light">Select</label>
                  <div class="col-10">
                    <select class="form-control form-control-light-skin" id="select-input-light">
                      <option>Choose option...</option>
                      <option>Option item 1</option>
                      <option>Option item 2</option>
                      <option>Option item 3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-2 col-form-label text-white opacity-60">Checkbox</label>
                  <div class="col-10">
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input class="custom-control-input" type="checkbox" id="check-light">
                      <label class="custom-control-label text-white" for="check-light">Check this checkbox</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline">
                      <input class="custom-control-input" type="checkbox" id="check-light-2" checked="">
                      <label class="custom-control-label text-white" for="check-light-2">Uncheck this checkbox</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row align-items-center">
                  <label class="col-2 col-form-label text-white opacity-60">Radio button</label>
                  <div class="col-10">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" id="radio-light" name="radio-light" checked="">
                      <label class="custom-control-label text-white" for="radio-light">Uncheck this radio</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" id="radio-light-2" name="radio-light">
                      <label class="custom-control-label text-white" for="radio-light-2">Check this radio</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
