<header class="navbar-ghost navbar-floating navbar-sticky">
  <div class="container text-center">
    <ul class="navbar-nav d-none d-lg-block">
    <div class="d-table-cell align-center pr-md-3">
      <div class="navbar-nav d-none d-lg-block">
        <a class="navbar-brand mr-1" href="#"><img src="#" alt="FestRoad"></a>
        <a class="nav-link" href="#">Accueil</a>
        <a class="nav-link" href="#">Carte</a>
        <a class="nav-link" href="#">Contact</a>
      </div>
    </div>
    <div>
      <ul class="dropdown-menu">
      <a class="btn dropdown-toggle ml-3 d-none d-xl-inline-block" href="#">Mon compte </a>
        <li class="dropdown-item"><a href="#">Se connecter / S'enregistrer</a></li>
        <li class="dropdown-item"><a href="#">Mon compte</a></li>
        <li class="dropdown-item"><a href="#">Mes favoris</a></li>
      </ul>
   </div>
</header>