
<script type="text/javascript" src="//app.sgwidget.com/js/sg-widget.js"></script>
<div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Veillez entrer une adresse e-mail valide" data-nameerror="Entrez votre nom" data-checkboxerror="Cocher la case pour accepter les conditions">
  <form id="sg-widget" data-token="e18b60caec691724af97e6688b855b2a" onsubmit="return false;">
      <div class="sg-response" id="sg-response"></div>
       <div class="input-group">
        <input id="sg_signup_first_name" type="text" name="sg_signup_first_name" placeholder="Prénom" required="required" class=" form-control form-control-light-skin">
        <input id="sg_signup_last_name" type="text" name="sg_signup_last_name" placeholder="Nom" required="required" class=" form-control form-control-light-skin">
      </div>
       <div class="input-group">
          <input id="sg_email" type="email" name="sg_email" placeholder="mail@example.com" required="required" class="form-control form-control-light-skin"> 
      </div>
      <div class="input-group-append text-center">
          <input type="submit" id="sg-submit-btn"  class= "btn btn-primary" value="M'inscrire">
      </div>
  </form>
</div>
</div>
