<section class="container py-5 my-2">
      <h2 class="h3 block-title text-center mt-3 mb-5">Nos partenaires<small>De Strasbourg à Paris</small></h2>
      <div class="row">

        <div class="col-6 col-md-3"><a class="d-block box-shadow py-5 mb-30 d-block mx-auto"><%= image_tag "Eurométropole_Strasbourg_logo.svg", alt: "Logo Eurométropole Strasbourg" %></a></div>

        <div class="col-6 col-md-3"><a class="d-block box-shadow py-5 mb-30"><%= image_tag "Shadok_logo.svg.png", alt: "Logo Shadok" %></a></div>

        <div class="col-6 col-md-3"><a class="d-block box-shadow py-5 mb-30"><img class="d-block mx-auto"><%= image_tag "THP_logo2.png", alt: "Logo THP" %></a></div>

        <div class="col-6 col-md-3"><a class="d-block box-shadow py-5 mb-30"><img class="d-block mx-auto"><%= image_tag "Unistra_logo.png" , alt: "Logo Unistra" %></a></div>

      </div>
    </section>